<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- css -->
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <!-- js --> 
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/libs/angular/angular.min.js"></script>
  <script src="/index.js"></script>
</head>


<body ng-controller="RegC as regC">
  <div class="container">
    <h1>My Registration Form</h1>
    <div class="col-md-10">
    <form name="regForm" novalidate
          ng-submit="regC.submitForm()">
  
      <div class="form-group row"
            ng-class="{ 'has-error': regForm.name.$invalid && regForm.name.$dirty, 'has-success' : !regForm.name.$invalid }">
        <label for="name" class="col-md-2">Name:</label>
        <input type="text" id="name" name="name" required
                class="col-md-8 form-control"
                ng-model="regC.name">
      </div>

      <div class="form-group row"
            ng-class="{ 'has-error': regForm.email.$invalid && regForm.email.$dirty, 'has-success' : !regForm.email.$invalid }">
        <label for="email" class="col-md-2">Email:</label>
        <input type="email" id="email" name="email" required 
                class="col-md-8 form-control"
                ng-model="regC.email">
      </div>

      <div class="row">
        <button class="btn btn-danger"
                ng-click="regC.clearForm()">
            Clear Form 
        </button>
        <button type="submit" class="btn btn-primary"
                ng-disabled="regForm.$invalid">
                Register Now
        </button>
      </div>

    </form>
    </br>
      <div class="row">
        <div class="jumbotron" align="center">
          {{ regC.result}} 
        </div>
      </div>

    </div><!-- main wrapper -->
    </br></br>
    
    Debugging Text: </br>
    Email input is {{ regC.email }} </br>
    Email lowercase is {{ regC.email.toLowerCase() }} </br>
    Form is invalid if {{ regForm.$invalid }}</br>
    RegC result is {{ regC.result }}


  </div><!--container-->
</body>
</html>